.main {
    padding-top: 113px;
    position: relative;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
}

.thanks {
    position: relative;
    height: 750px;
    margin-bottom: 120px;
}

.thanksContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.thanksHeader {
    font-size: 130px;
    font-weight: 800;
    line-height: 177.58px;
    text-align: left;
    color: #391FCF;
}

.thanksDes {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
}

.thanksImg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

$color: white;
.button0 {
    background: #5BE146;
    text-align: center;
    font-weight: 700;
    position: relative;
    will-change: transform;
    cursor: pointer;
}
  
.buttonMat0 {
    color: $color;
    border: 0px transparent;
    transition: .3s ease-in-out;
    transition-delay: .35s;
    overflow: hidden;
    position: relative;
    z-index: 1;
  
  &:before {
    z-index: -1;
    content: '';
    display: block;
    background: #FEDF43;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }
}

.btn0 {
    z-index: 4;
    height: 60px;
    width: 330px;
    line-height: 27.32px;
    font-size: 20px;
    &:before {
        transform: translate(-110%,-110%) translateZ(0);
    }
    &:hover:before {
        transform: translate(-45%,-34%) translateZ(0)
    }
}

@media (max-width: 1440px) {
    .main {
        max-width: 1280px;
    }
    .thanks {
        height: 600px;
        margin-bottom: 60px;
    }
    .thanksContainer {
        width: 550px;
    }
    .thanksHeader {
        font-size: 130px;
        line-height: 120px;
    }
    .thanksDes {
        font-size: 24px;
    }
}

@media (max-width: 1280px) {
    .main {
        max-width: 1024px;
        padding-top: 100px;
    }
    .thanks {
        height: 500px;
        margin-bottom: 60px;
    }
    .thanksContainer {
        width: 450px;
        gap: 30px
    }
    .thanksHeader {
        font-size: 100px;
        line-height: 120px;
    }
    .thanksDes {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .main {
        max-width: 768px;
        padding-top: 80px;
    }
    .thanks {
        height: 400px;
        margin-bottom: 60px;
    }
    .thanksContainer {
        width: 350px;
        gap: 30px
    }
    .thanksHeader {
        font-size: 70px;
        line-height: 80px;
    }
    .thanksDes {
        font-size: 12px;
    }

    .btn0 {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .main {
        max-width: 425px;
        padding-top: 60px;
    }
    .thanks {
        height: 750px;
        margin-bottom: 60px;
    }
    .thanksContainer {
        width: 100%;
        justify-content: start;
        padding-top: 90px;
        gap: 30px
    }
    .thanksHeader {
        font-size: 70px;
        line-height: 80px;
    }
    .thanksDes {
        font-size: 12px;
    }

    .btn0 {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .main {
        max-width: 375px;
    }
    .thanks {
        height: 650px;
        margin-bottom: 60px;
    }
    .thanksContainer {
        width: 100%;
        justify-content: start;
        padding-top: 60px;
        gap: 20px
    }
}

@media (max-width: 375px) {
    .main {
        max-width: 325px;
    }
}